
/* 
    Created on : Jul 8, 2014, 5:54:39 AM
    Author     : pinxiali
*/

root {display: block; }

.formArea {
    clear: both;
    position: relative; 
    padding: 0px; 
    margin-top: 15px;
    vertical-align: central;
}


fieldset {
    width: 65%;
    margin: 0 auto;
    background-color: lightblue;
    padding-top: 10px;
    border:2px solid #F3D487;
}

legend {
    color: green;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: .5em;
}

input {
    height: 5em;
    margin-bottom: .8em;
    padding-right: 10%;
    padding-left: 10%;
    width: 20em;
}

/*input:not([type=submit]):not([type=radio]){
    width: 20em;
    margin-right: 1.3em;
}*/

label {
    //padding-left: 20px; 
    padding-right: 25px;
   // width: 25em;
  //  float: left;
    text-align:right;
    height: 6em;
}

/*label {
font-weight: bold;
//display: block;
width: 120px;
float: left;
}*/
label:after { content: ": " }

